{% extends 'base/frontend/base.html.twig' %}

{% block title %}
    {{ page_title }} -
    {% for subtitle in page_subtitle %}
        {{ subtitle.categoria}}
    {% endfor %} |
    {{ title }}
{% endblock %}

{% block navbar %}
    {{ include('frontend/navbar.html.twig') }}
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    {{ page_title }} -
                    <small>{{ page_subtitle }}</small>
                </h1>

                {% for autor in autores %}
                    <div class="col-md-4">
                        {% if autor.imagem %}
                            <img src="{{ autor.imagem }}" class="img-responsive img-circle"/>
                        {% else %}
                            <img src="{{ semfoto }}" class="img-thumbnail" />
                        {% endif %}
                    </div>
                    <div class="col-md-8 ">
                        <h2>
                            {{ autor.nome }}
                        </h2>
                        <hr>
                        <p>{{ autor.historico }}</p>
                        <hr>
                    </div>
                {% endfor %}


            </div>

            {{ include('frontend/sidebar.html.twig') }}

        </div>
        <!-- /.row -->

        <hr>

    </div>
    <!-- /.container -->
{% endblock %}

{% block footer %}
    {{ include('frontend/footer.html.twig') }}
{% endblock %}
