{% extends 'base/frontend/base.html.twig' %}

{% block title %}
	{{ page_title }} -
	{% for subtitle in page_subtitle %}
		{{ subtitle.categoria}}
	{% endfor %} |
	{{ title }}
{% endblock %}

{% block navbar %}
	{{ include('frontend/navbar.html.twig') }}
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">

	<div class="row">

		<!-- Blog Entries Column -->
		<div class="col-md-8">

			<h1 class="page-header">
				{{ page_title }} -
				<small>{{ page_subtitle }}</small>
			</h1>
			{% for postagem in postagens %}

			<h2>
				<a href="{{ base_url('postagem/') ~ postagem.id_posts ~ "/" ~ postagem.titulo | lower | replace({' ': '-', }) }}">{{ postagem.titulo }}</a>
			</h2>
			<p class="lead">
				por <a href="{{ base_url('autor/' ~ postagem.idautor ~ "/"
					~ postagem.nome | lower | replace({' ': '-', })) }}">{{ postagem.nome }}</a>
			</p>
			<p><span class="glyphicon glyphicon-time"></span> Postado em {{ postagem.data |date("d/m/Y") }}</p>
			<hr>
			<img class="img-responsive" src="{{ postagem.img }}" alt="">
			<hr>
			{{ postagem.subtitulo }}
				<a class="btn btn-primary" href="{{ base_url('postagem/') ~ postagem.id_posts ~ "/" ~ postagem.titulo | lower | replace({' ': '-', })}}">Leia mais <span class="glyphicon glyphicon-chevron-right"></span></a>

			<hr>
			{% endfor %}
		</div>

		{{ include('frontend/sidebar.html.twig') }}

	</div>
	<!-- /.row -->

	<hr>

</div>
<!-- /.container -->
{% endblock %}

{% block footer %}
	{{ include('frontend/footer.html.twig') }}
{% endblock %}
