<form role="form" action="{{ base_url('admin/usuarios/inserir') }}" method="post">
	<div class="form-group">
		<label id="txt-nome">Nome do usuário</label>
		<input type="text" id="txt-nome" name="txt-nome" class="form-control"
			   placeholder="Digite o nome do usuário" value="{{ set_value('txt-nome') }}">
	</div>
	<div class="form-group">
		<label id="txt-email">Digite o email</label>
		<input type="text" id="txt-email" name="txt-email" class="form-control"
			   placeholder="Digite o nome do email" value="{{ set_value('txt-email') }}">
	</div>
	<div class="form-group">
		<label id="txt-historico">Histórico</label>
		<textarea class="form-control" id="txt-historico" name="txt-historico" rows="5" >{{ set_value('txt-historico') }}
		</textarea>
	</div>
	<div class="form-group">
		<label id="txt-user">Usuário</label>
		<input type="text" id="txt-user" name="txt-user" class="form-control"
			   placeholder="Digite o usuário" value="{{ set_value('txt-user') }}">
	</div>
	<div class="form-group">
		<label id="txt-senha">Senha</label>
		<input type="password" id="txt-senha" name="txt-senha" class="form-control"
			   placeholder="Digite a senha">
	</div>
	<div class="form-group">
		<label id="txt-confirm">Confirme a senha</label>
		<input type="password" id="txt-confirm" name="txt-confirm" class="form-control"
			  >
	</div>


	<button type="submit" class="btn btn-default">Cadastrar</button>

</form>
